* {
    margin: 0px;
}
.nav-links{
    position: absolute;
    right: 50%;
           
}
.nav-links li{
    list-style: none;
    display: inline;
    
       
}
.nav-links li a{
    margin: 0 15px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    
}
.nav-links li a:hover{
    color: green;
}

.color {
     color: blue;
     
}
h3{
    color: rgb(6, 6, 132);
    border-radius: 10%;
}








