* {
    margin: 0px;
}

header nav{
    background-color: rgb(6, 6, 77);
}
.nav-link, .navbar-brand{
    color: white;
}
.nav-item :hover{
    border: 3px solid red;
    border-radius: 30px;

}
#message {
    height: 110px;
}
#contact {
    font-style: italic;
}



