* {
    margin: 0px;
}

.nav-links{  
    position: absolute;
    right: 50%;
           
}
.nav-links li{
    list-style: none;
    display: inline;
   
       
}
.nav-links li a{
    margin: 0 15px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    
    
}
.nav-links li a:hover{
    color: green;
}
#message {
    height: 110px;
}
#contact {
    font-style: italic;
}



